
.home{
    background: #808080;
    color: #f0efef;
}

.index{
    margin-top: 20px;
}
body{
    background: #808080;
}
img{
    display: block;
    width: auto;
    height: 200px;
    margin: auto;
}
